
*{
    font-family: 'Kosugi Maru', sans-serif;
}

.sidebar_fixed {
    position: sticky;
    top: 60px;
    /*background-color: #e9605c;*/
}

.content-parent{
    /*background-color: #98dfb6;*/
}

.board{
    background-color: #fffaf0;
}
.content{
    /*background-color: #98dfb6;*/
    padding-left: 50px;
    padding-right: 50px;
}
.name{
    /*background-color: #6cb2eb;*/
    float: right;
}

.form{
    /*background-color: #284257;*/
}
.font1{
    font-family: 游明朝;
    color: #385d7a;
}

.title{
    font-size: 60px;
    /*background-color: #e9605c;*/
    background-color: #fffaf0;
    position: sticky;
    margin-top: 40px;
    padding-top: 100px;
    top: 40px;
    text-align: center;
}
.subtitle{
    text-align: center;
}
.background{
    background-image: url('/img/wood.jpg');
}

.favorite{
    background: transparent;
    font-size: 20px;
    border: none;
    outline: none;
}

.date{
    /*background-color: #e9605c;*/
}

.text{
    /*background-color: #636b6f;*/
}
